.deleteAll {
    background-color: white !important;
    display: flex;
    justify-content: space-around!important;
    font-size: 1em !important;
    text-transform: none !important;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  
  .deleteAll:hover {
    cursor: pointer;
  }
  